@(message:String) 
 
@main("Books Category") {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/books.css")">
  </head>
    
         
   
    
                             
                    <main>
                
    
                         
                           
                  
 <h2>Register today to be a member</h2>
    <form action="/action_page.php">
      <div class="form-group">
     <div class="col-xs-4">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
     <div class="col-xs-4">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form> 
                  <div class="links">
                      <ul>
                     <li><a href="https://nmaahc.si.edu/" target="_blank">Explore History</a> </li>
                      <li><a href="@routes.HomeController.requestforbooks()">Request For Books</a> </li>
                       <li><a href="@routes.HomeController.morenike's Corner()">Morenikes' Corner</a> </li>
                        </ul>  
                        </div>
                
            <div class="page-header">
    <h1>Choose book type and age category</h1>    
      <h3>Please tick appropriate age group:</h3>
      <ul class="col-xs-1"> 
    <button type="button" class="btn btn-primary btn-block">sports </button>
    <button type="button" class="btn btn-primary btn-block">fictions</button>
    <button type="button" class="btn btn-primary btn-block">non-fictions</button>		
    <button type="button" class="btn btn-primary btn-block">educational</button>
    </ul>
      <div class="btn-group btn-group-justified dropup">
      <button type="button" class="btn btn-primary">Types</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-toggle="dropdown">Make Selection(s)
        <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><input type="checkbox" value=""><a href="#"><dd>sports </dd></a></li>
          <li><input type="checkbox" value=""><a href="#"><dd>fictions</dd></a></li>
          <li><input type="checkbox" value=""><a href="#"><dd>non-fictions</dd></a></li>			
          <li><input type="checkbox" value=""><a href="#"><dd>educational</dd></a></li>	
                 </ul>
            
         </div>
        <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Select Quantity needed</a></li>
        
        <div class="checkbox">
      <label><input type="checkbox" value=""><a href="#">12</a></label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value=""><a href="#">24</a></label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value=""><a href="#">30</a></label>
    <div class="checkbox">
    <label><input type="checkbox" value=""><a href="#">Other</a></label>
    <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div> 
      </ul>
      </div>	   
      <pre>
      <dl>
        <dt class="bg-info"><button type="button" class="btn btn-info">Male</button></dt>
        <dd> 0 - 5</dd>
        <dd> 6 - 12</dd>
        <dd> 13 - 16</dd>
        <dd> 17 plus</dd>
        
        <dt class="bg-danger"><button type="button" class="btn btn-danger">Female</button></dt>
        <dd> 0 - 5</dd>
        <dd> 6 - 12</dd>
        <dd> 13 - 16</dd>
        <dd> 17 plus</dd>
      </dl>    
        </pre>  
        
        <h1>Age Categories</h1>    
  <p>Please tick appropriate age group:</p>
  <dl>
    <dt>Male</dt>
    <dd>- 0 - 5</dd>
	<dd>- 6 - 12</dd>
	<dd>- 13 - 16</dd>
	<dd>- 17 plus</dd>
	
    <dt>Female</dt>
    <dd>- 0 - 5</dd>
	<dd>- 6 - 12</dd>
	<dd>- 13 - 16</dd>
	<dd>- 17 plus</dd>
  </dl>    
	   	
    
    
    
                     
        
    <div class="footer text-center">
    <p>Back to <a href="@routes.HomeController.index()">Home Page </a></p>
      <ul class="pager">
       <li class="previous"><a href="@routes.HomeController.membership()">Previous</a></li>
        <li class="next"><a href="@routes.HomeController.playtime()">Next</a></li>
      </ul>
    </div>
            


}