@(message:String) 

@main("Contact us") {


    <p>Now, 20,000 students in 30 schools in 30 communities have access to books that will broaden individual horizons, 
        enhance classrooms, and maybe significantly change a life or two.</p>
          <h2>Where We Work</h2>
              Books for Nigeria Schools in Africa is a charity organizations work throughout Nigeria—
              that area of the continent located at the Western part of Africa.


<img src="@routes.Assets.versioned("images/photo/spaces.png")" alt" ofiice picture"/>

       

<a href="@routes.Assets.versioned("images/photo/ http://www.travelstart.com.ng/blog/30-top-attractions-in-nigeria")" Flag target= "_blank">
<img src="@routes.Assets.versioned("images/photo/9jalogo.png")" alt=""/>Tourism In Nigeria****</a>


<a href=" @routes.Assets.versioned("images/photo/http://www.nigeriahc.org.uk/culture-tourism")" History Of Nigeria</a>
     <h2>If mailing books, please send book donations to or drop off books at:</h2>
<ul>
<li>Books For Nigeria Schools in Africa Warehouse-Balsbridge
 <li>3655 Balsbridge Industrial Drive
  <li>Stillorgan
   <li>South Dublin, Ireland</p>
         </ul>



<h2>You can also mail a check, cash or money order to:</h2>
 <ul>
  <li>Books For Nigeria Schools in Africa,</li> 
<li>Nigeria House East Exchange Street,</li> 
<li>Commercial, St. Paul, </li>
<li>Dublin 2, Ireland.</li>
</ul>



}