@(message:String) 

@main("Contact us") {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/books.css")">
  </head>

    <p>Now, 20,000 students in 30 schools in 30 communities have access to books that will broaden individual horizons, 
        enhance classrooms, and maybe significantly change a life or two.</p>
          <h2>Where We Work</h2>
              Books for Nigeria Schools in Africa is a charity organizations work throughout Nigeria—
              that area of the continent located at the Western part of Africa.


<img src="@routes.Assets.versioned("images/photo/spaces.png")" alt" office picture"/>

       

<a href="@routes.Assets.versioned("images/photo/ http://www.travelstart.com.ng/blog/30-top-attractions-in-nigeria")" Flag target= "_blank">
<img src="@routes.Assets.versioned("images/photo/9jalogo.png")" alt=""/>Tourism In Nigeria****</a>


<a href=" @routes.Assets.versioned("images/photo/http://www.nigeriahc.org.uk/culture-tourism")" History Of Nigeria</a>
     <h2>If mailing books, please send book donations to or drop off books at:</h2>
<ul>
<li>Books For Nigeria Schools in Africa Warehouse-Balsbridge
 <li>3655 Balsbridge Industrial Drive
  <li>Stillorgan
   <li>South Dublin, Ireland</p>
         </ul>



<h2>You can also mail a check, cash or money order to:</h2>
 <ul>
  <li>Books For Nigeria Schools in Africa,</li> 
<li>Nigeria House East Exchange Street,</li> 
<li>Commercial, St. Paul, </li>
<li>Dublin 2, Ireland.</li>
</ul>

    
<div class="footer text-center">
    <p>Back to <a href="@routes.HomeController.index()">Home Page </a></p>
      <ul "right-side" class="pager">
       <li><a href="@routes.HomeController.membership()">Previous</a></li>
        <li><a href="@routes.HomeController.playtime()">Next</a></li>
      </ul>
    </div>

}