@(message:String) 
@main("Donation") {
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/books.css")">
    </head>



<img src="@routes.Assets.versioned("images/photo/donatediffe.png")" alt " Donate makes a difference"/>

<h2> Donate Books </h2>
<p>
    <img src="@routes.Assets.versioned("images/photo/box.png")" alt " Books inside box"/>
</p>
<h3>Books For Nigeria Schools In Africa needs all book donations. </h3>
<br> Two for One- Donate £1 / $1 for every two books donated to us.</br>

<p>If mailing books, please send book donations to or drop off books at:</p>



<ul>
    <li>Books For Nigeria Schools in Africa Warehouse-Balsbridge</li>
    <li>3655 Balsbridge Industrial Drive,</li>
    <li>Stillorgan</li>
    <li>South Dublin, Ireland</li>
</ul>


<div class="main_menu">

    <h2> Donate Fund </h2>

    <p>
        <img src="@routes.Assets.versioned("images/photo/donate.png")" alt " Books inside box"/>
    </p>

    <p>You can also mail a check, cash or money order to:</p>

    <ul>
        <li>Books For Nigeria Schools in Africa,</li>
        <li>Nigeria House East Exchange Street,</li>
        <li>Commercial, St. Paul, </li>
        <li>Dublin 2, Ireland.</li>
    </ul>
</div>

<div class="payment">
    <p>Or make a donation online. </p>
    <li class="img">
        <img src="@routes.Assets.versioned("images/photo/payment.png")" alt " payment method"/>
        <img src="@routes.Assets.versioned("images/photo/creditcardicons.png")" alt " payment method"/>
    </li>
</div>
<div class="don_text">
    <p>When you donate, you will receive an automatic thank you letter. Please check your junk folder and if you did not receive
        one, email bfnsa@@booksforNigeria Schoolsafrica.org.</p>
    <p>Your donation will defray high shipping costs and enable Books For Nigeria Schools in Africa to ship even more books
        to children in Nigeria who are eager to read and learn.
        <p> Consider making a financial donation to cover the costs of shipping the books you donate.
            <br> Please send financial donations separately in an envelope to the BFNS office: </p>
</div>


}