@(message:String) 

@main("Home Page") {
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/books.css")">
<div class="list">
  <a href="kids.html" Kids target="_blank">
    <img src="childLaugh.png" alt=" kids having fun" />
  </a>
  <a href="contactus.html" Contact Us target="_blank">
    <img src="readingculture1.png" alt="children reading" />
  </a>
  <a href="two for books.html" TwoforBooks target="_blank">
    <img src="donatebanner.png" alt="donation" />
  </a>


  <div class="text">
    <h2>A simple name for an organisation with a simple mission.</h2>

    <p>We collect, sort, ship, and distribute books to students of all ages in Africa. Our goal: to end the book famine in Africa.
      Books For Africa remains the largest shipper of donated text and library books to the African continent, shipping over
      36 million books to 49 different countries since 1988. Over the past 12 months we have shipped 2.4 million books, 154
      computers and 62 e-readers containing 467,000 million digital books, as well as 7 new law and human rights libraries
      to 25 African countries. More than $2.5 million was raised last year to ship the books to the students of Africa.
    </p>
  </div>

  <div class="links">

    <ul>
      <li>
        <a href="Explore.html">Explore History</a>
      </li>
      <li>
        <a href="requestforbooks.html">Request For Books</a>
      </li>
      <li>
        <a href="morenike's Corner.html">Morenike's Corner</a>
      </li>
    </ul>
  </div>
  }