@(message:String) 

@main("Home Page") {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/books.css")">
  </head> 

<div class="list">
  <a href="@routes.HomeController.playtime()" Kids target="_blank">
    <img src="@routes.Assets.versioned("images/photo/ChildLaugh.png")"alt=" kids having fun" />
  </a>
  <a href="@routes.HomeController.contact()" Contact Us target="_blank">
    <img src="@routes.Assets.versioned("images/photo/readingculture.png")" alt="children reading" />
  </a>
  <a href="@routes.HomeController.requestforbooks()" TwoforBooks target="_blank">
    <img src="@routes.Assets.versioned("images/photo/donatebanner.png")" alt="donation" />
  </a>


  <div class="text">
    <h2>A simple name for an organisation with a simple mission.</h2>

    <p>We collect, sort, ship, and distribute books to students of all ages in Africa. Our goal: to end the book famine in Africa.
      Books For Africa remains the largest shipper of donated text and library books to the African continent, shipping over
      36 million books to 49 different countries since 1988. Over the past 12 months we have shipped 2.4 million books, 154
      computers and 62 e-readers containing 467,000 million digital books, as well as 7 new law and human rights libraries
      to 25 African countries. More than $2.5 million was raised last year to ship the books to the students of Africa.
    </p>
  </div>

  <div class="links">

    <ul>
      <li>
        <a href=" @routes.Assets.versioned("images/photo/http://www.nigeriahc.org.uk/culture-tourism")">Explore History</a>
        <img src="@routes.Assets.versioned("images/photo/shelf.png")" alt="book shelf" />
      </li>
      <li>
        <a href="@routes.HomeController.requestforbooks()">Request For Books</a>
        <img src="@routes.Assets.versioned("images/photo/kidsbooks.png")" alt="children showing reading books" />
      </li>
      <li>
        <a href="@routes.HomeController.morenike's Corner()">Morenike's Corner</a>
        <img src="@routes.Assets.versioned("images/photo/spe.png")" alt="picture speech head" />
      </li>
    </ul>
  </div>
  }