@(message:String) 
 @main("membership") {
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/books.css")">
    </head>
<img src="@routes.Assets.versioned("images/photo/registr.png")" alt="Registration"/>


<form action="action_page.php">
    First name:
    <br>
    <input type="text" name="firstname" value="">
    <br> Last name:
    <br>
    <input type="text" name="lastname" value="">
    <br> Date of Birth:
    <br>
    <input type="text" name="dateofbirth" value="">
    <br> Address:
    <br>
    <input type="text" name="address" value=" ">
    <br> Town:
    <br>
    <input type="text" name="town" value="">
    <br> City:
    <br>
    <input type="text" name="city" value="   ">
    <br> Country:
    <br>
    <input type="text" name="country" value="    ">
    <br>
    <br>
    <input type="radio" name="gender" value="male" checked> Male
    <br>
    <input type="radio" name="gender" value="female"> Female
    <br>
    <input type="radio" name="gender" value="other"> Other
    <br>
    <br>
    <a href="mailto:dsinuola@@yahoo.ie?Subject=Hello%20again" target="_top">
        <input type="submit" value="Submit">
    </a>
</form>



<div class="join">
    <h2>It's easy...</h2>
    <p> Fill in the Online Joining form by clicking 'Membership'. </p>
    Our Member may volunteer
    <br> Our Member may donate to us
    <br> Our Members may be An Ambassador
    <br> Our Members may request a book

    <p> Members and visitors can register in just minutes on this website. Download and complete the form.</p>

    <p>You can also email us BFNSA @@ citizen.org or post your completed application to:
</div>

<div class="mem_list">
     <p>Books For Nigeria Schools in Africa,</p>
    Nigeria House East Exchange Street,
    <br> Commercial, St. Paul,
    <br> Dublin 2, Ireland.


    <h2>
        <em>What can I request For?</em>
    </h2>
    Books, music, films, PC Games... You decide!
</div>

}