@(message:String) 
 @main("Playtime") {

    <img src="@routes.Assets.versioned("images/photo/morelogo.png")" alt" Books inside box"/>
    
   <h3> Listen to Morenike on Syllables ...Below</h3><strong>
   <br>	 
     <audio controls>
<source src="@routes.Assets.versioned("images/photo/aud.ogg")" type="audio/ogg">
<source src="@routes.Assets.versioned("images/photo/aud.mp3")" type="audio/mpeg">
   
</audio>
<h3> Expressions...</h3><strong>
   <br>	 
     <audio controls>
<source src="e@routes.Assets.versioned("images/photo/xpression1.ogg")" type="audio/ogg">
<source src="@routes.Assets.versioned("images/photo/expression1.mp3")" type="audio/mpeg">



}