@(message:String) 
 @main("Playtime") {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/books.css")">
  </head>
    <img src="@routes.Assets.versioned("images/photo/morelogo.png")" alt" Books inside box"/>
    
   <h3> Listen to Morenike on Syllables ...Below</h3><strong>
   <br>	 
     <audio controls>
<source src="@routes.Assets.versioned("images/photo/aud.ogg")" type="audio/ogg">
<source src="@routes.Assets.versioned("images/photo/aud.mp3")" type="audio/mpeg">
   
</audio>
<h3> Expressions...</h3><strong>
   <br>	 
     <audio controls>
<source src="e@routes.Assets.versioned("images/photo/xpression1.ogg")" type="audio/ogg">
<source src="@routes.Assets.versioned("images/photo/expression1.mp3")" type="audio/mpeg">



}