@(message:String) 
 @main("Playtime") {


<a href="https://www.youtube.com/watch?v=5ZCgbGgA-_8" Teletubby target="_blank">
    <img src="teletubbies.png" alt="" />Watch</a>

<a href="https://www.youtube.com/watch?v=zb24hfez_sQ" nursery rhymes target="_blank">
    <img src="dancing.png" alt="" />Watch</a>
<a href="https://www.youtube.com/watch?v=FrsM9WggCdo&list=PL-2jf7tAUXPHApwu3FifugJOKlldawPds" happy songtarget="_blank">
    <img src="cool.png" alt="" />Watch</a>



<p>
    <h2>Why Have Fun Outdoor</h2>
</p>

<p>The Benefits of Outdoor Play. </p>
Playing outdoors is a form of exercise that promotes well-being and wholesome physical development.
<br> Children are naturally drawn to active play outdoors: it allows them to explore their environment, develop muscle strength
and coordination, and gain self-confidence.

<h2>How to Make Friends</h2>
Every friendship begins with some sign that two people are interested in becoming friends.
<br> So, the first ingredient for making friends involves showing that we like someone and expressing openness to friendship
with them.
<h4>Greetings</h4>
A very basic way to show openness is to greet potential friends.
<h4>Compliments</h4>
Compliments are another easy way to signal openness to friendship
<h4>Kindness</h4>

Small kindnesses can be another way to signal liking.
<br> This could mean lending a pencil to a classmate, saving them a seat, helping them carry something, or sharing a lunch treat.
<br> Kindness tends to elicit kindness, and it’s one of the best ways to begin a friendship.
<br>
<p>Expressing openness is the first ingredient of friendship formation, because it casts wide the metaphorical door to friendship.</p>






}